<?xml version="1.0" encoding="UTF-8"?>
 
<beans 
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- The Object Write to use. We will use an ObjectFileWriter It is configured in Spring and injected into the service. -->	
	<bean id="objectWriter" class="com.c123.spring.example.DAL.FileObjectWriter" destroy-method="close">
		<constructor-arg value="Spring_XML/TEMP/USER_LIST_FILE_SPRING_XML.txt"/>
    </bean>

	<bean id="userGenerator" class="com.c123.spring.example.UserGenerator" init-method="generateUsers" >
		<property name="fileObjectWriter" ref="objectWriter"></property>
		<property name="userNameList" ref="userNameList"></property>
	</bean>
	
	<bean id="userNameList" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>James Johnson</value>
				<value>Peter Gardener</value>
				<value>Andrei Saizovsky</value>
				<value>Petr Kirul</value>
				<value>Gerard Bourtagne</value>
				<value>Hans Freihof</value>
				<value>Sami Filppula</value>
				<value>Niklas Nilsson</value>
				<value>Marian Varga</value>
				<value>Sigur Briem</value>
				<value>Bill Klien</value>
				<value>David King</value>
				<value>Magic Jordan</value>
				<value>Hana Brill</value>
				<value>Mustafa Cohen</value>
				<value>Michel Peet</value>
				<value>Samnta Gold</value>
				<value>Snoop Cat</value>
				<value>Marian Vog</value>
				<value>Suger Baby</value>
			</list>
		</constructor-arg>
	</bean>	
 </beans>
