/* helper classes */



/* house keeping */

body {
	font: 14px 'trebuchet ms','verdana','sans serif';
}

a {
	color: #35f;
}
a:hover,
a:active {
	border-bottom: 1px dotted #35f;
}


/* custom containers */

#header {
	background-color: #35f;
	color: #fff;
}
#header img {
	margin: .4em 0 0 12em;
	float: left;
}
#header #title {
	margin: 0 0 0 10em;
	font: bold 2.5em/2em 'georgia','times new roman','serif';
}

#footer ul li {
	height: 4em;
	font-style: italic;
	color: #777;
}
#footer img {
	float: right;
	vertical-align: middle;
}


/* main navigation */

#nav li a {
	display: block;
	width: 10em;
	margin: 0 0 .4em 0;
	border-bottom: 0 none;
	padding: .2em 1em;
	font-weight: bold;
	background-color: #35f;
	color: #eee;
	-webkit-border-radius: 11px;
    -khtml-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
#nav li a:hover,
#nav li a:active,
#nav li a:focus {
	background-color: #fa0;
	color: #fff;
}


/* tables */

#main table {
	width: 100%;
}
#main table td,
#main table th {
	padding: .2em .6em;
}
#main table th {
	text-align: center;
}
#main table thead {
	background-color: #ccc;
	color: #fff;
}
#main table thead th {
	font-weight: bold !important;
}
#main table tbody,
#main table thead th {
	border: 1px solid #ccc;
}
#main table td {
	border-left: 1px solid #ccc;
}
#main table tr.odd {
}
#main table tr.even {
	background-color: #eee;
}
#main table caption {
	padding: .5em 0;
	font-size: 1.5em;
	text-align: center;
	font-style: italic;
	color: #f90;
}
#main table caption span{
	font-size: .6em;
}
/* top links */

#topLinks {
	padding: .4em 0;
}
#topLinks {
	text-align: center;
}
#topLinks ul li {
	display: inline;
}
#topLinks ul li a {
	display: inline-block;
	margin-right: 8px;
	font-weight: bold;
}
#topLinks ul li a {
	border-bottom: 1px solid transparent;
}
#topLinks ul li a:hover {
	border-bottom: 1px dotted #f75;
	color: #f75;
}
#topLinks ul li a:before {
	content: '';
	position: relative;
	right: 8px;
	top: 12px;
	display: block;
	width: 4px;
	height: 4px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	background-color: #f75;
}
#topLinks ul li a.first:before {
	background-color: transparent;
}


/* info box */

#infoBox {
	margin-top: 1.1em; 
	border: 3px solid #9bcbff;
	padding: .5em 1em;
	font: italic .9em 'verdana','sans serif';
	background-color: #e6f2ff;
	color: #35f;
}




